
  
	.profile-card {
	  display: flex;
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 2rem;
	  height: 8rem;
	  width: 10rem;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	
  
	.profile-card > .image {
	  width: 6rem;
	}
  
	
  

}