.question-list-card {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(31, 4, 184, 0.8) 0%,
    rgba(14, 171, 199, 0.8) 100%
  ) !important;

  .opponents {
    display: flex;
    margin: auto;
    width: 90%;
  }

  .opponents-div-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 40%;
  }

  .opponents-div-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 40%;
  }

  .opponents-div-1 .label {
    margin: 5%;
    left: 10%;
    transform: scale(1.4);
  }

  .opponents-div-2 .label {
    margin: 5%;
    transform: scale(1.4);
  }

  .correctAnswer {
    border: 5px solid #1abc9c !important;
  }

  .wrongAnswer {
    border: 5px solid #e74c3c !important;
  }

  .question {
    margin: auto;
    width: 90%;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    padding: 2%;
    padding-bottom: 5%;
    font-size: 16px;
  }

  .candidate-card-div {
    margin-bottom: 0px;

    .candidate-card:hover {
      transform: scale(1.1);
    }

    .candidate-card {
      display: flex;
      flex-direction: row;
      width: 80%;
      height: 100px;
      margin: 5% auto 5% auto !important;

      .card-imgs {
        width: 100px;
        height: 100px;
      }

      .card-content {
        width: 50%;

        .correct {
          background-color: green;
        }
      }

      .follower-count {
        margin: 10%;
      }

      .follower-count {
        margin: 10%;
      }
    }
  }

  .top-row {
    min-width: 100%;
    max-height: 40px;
    overflow: hidden;

    .home-button {
      display: flex;
      justify-content: center;
      width: 25%;
      max-height: 50px;
      font-size: 15px;
    }

    .hearts {
      display: flex;
      justify-content: center;
      width: 25%;
      max-height: 40px;

      .heart {
        max-width: 40px;
      }
    }

    .score-label {
      max-height: 40px;
      font-size: 20px;

      .score {
        margin: auto;
      }
    }
  }
}

.ui.active.modal {
  display: flex;
  text-align: center;

  > .header:not(.ui) {
    font-size: 2rem;
    text-align: center;
    color: #00b5ad;
  }

  > :last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ui.positive.button {
    background-color: #00b5ad;
  }

  .ui.negative.button {
    background-color: #e74c3c;
  }
}
