.question-list-card {
  display: flex;
  flex-direction: column;
  min-width: 100%;

  background: linear-gradient(109deg, #4b44c8, #429ed0) !important;
  background-size: 800% 800% !important;

  -webkit-animation: AnimationName 8s ease infinite !important;
  -moz-animation: AnimationName 8s ease infinite !important;
  animation: AnimationName 8s ease infinite !important;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 65%;
    }
    50% {
      background-position: 100% 36%;
    }
    100% {
      background-position: 0% 65%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 65%;
    }
    50% {
      background-position: 100% 36%;
    }
    100% {
      background-position: 0% 65%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 65%;
    }
    50% {
      background-position: 100% 36%;
    }
    100% {
      background-position: 0% 65%;
    }
  }
  .opponents {
    display: flex;
    margin: auto;
    width: 90%;
  }

  .ui.yellow.label {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0;
    border-radius: 0;
  }

  .opponents-div-1 {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 50%;
  }

  .opponents-div-1 .label {
    margin: 5%;
    transform: scale(1.4);
    font-size: 1.1rem;
    padding: 0.5rem 3rem !important;
  }

  .ui.image.label .detail {
    margin: 0;
  }

  .correctAnswer {
    // border: 5px solid #1ABC9C !important;
    background-color: #1abc9c !important;
  }

  .wrongAnswer {
    //  border: 5px solid #E74C3C !important;
    background-color: #e74c3c !important;
  }

  .question {
    margin: auto;
    width: 90%;
    min-height: 200px;
    background: white;
    padding: 2%;
    padding-bottom: 5%;
    font-size: 16px;
    border-radius: 5px;
  }

  .candidate-card-div {
    margin-bottom: 0px;

    .candidate-card:hover {
      transform: scale(1.1);
    }

    .candidate-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      height: 100px;
      margin: 5% auto 5% auto !important;
      border-radius: 5px;

      .card-imgs {
        position: relative !important;
        padding: 5px;
        width: 75px;
        height: 75px;
        border-radius: 50px !important;
      }

      .card-content {
        width: 50%;
        padding-top: 2.5rem;
      }

      .follower-count {
        margin: 10%;
      }

      .follower-count {
        margin: 10%;
      }
    }
  }
    .score-label {
      max-height: 40px;
      font-size: 20px;

      .score {
        margin: auto;
      }
    }
  }


.ui.active.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 18rem;

  > .header:not(.ui) {
    font-size: 2.5rem;
    text-align: center;
    color: #00b5ad;
  }

  p {
    font-size: 1.3rem;
  }

  > :last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ui.positive.button {
    background-color: #00b5ad;
    font-size: 1.3rem;
  }

  .ui.negative.button {
    background-color: #e74c3c;
    font-size: 1.4rem;
  }
}
