.App {
  text-align: center;
  width: 414px;
  height: 736px;
  margin: 20px auto;
  border: 1px solid grey;
  background-image: linear-gradient( 135deg, rgba(31, 4, 184, 0.8) 0%, rgba(14, 171, 199, 0.8) 100%);
}

