.navbarAll {
  width: 100%;
  background-color: white;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .leftNavbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 30%;

    img {
      padding-left: 1rem;
      margin-left: 1rem;
      width: 4rem;

    }

    .home-button {
      font-size: 2.3rem;
      font-weight: 600;
      color: #173ad4;
      letter-spacing: -1px;
      padding-left: 0.5rem;
      white-space: nowrap;
    }
  }

  .rightNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3.5%;
    min-width: 10rem;
    padding-right: 1rem;
  }

  img {
    padding-left: 1rem;
    margin-left: 1rem;
    width: 4.5rem;
  }
}
