.navbar {
    width: 100%;
    background-color: white;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;
    

    img {
        padding-left: 2rem;
        width: 4rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 500;
        color: #173ad4;
        letter-spacing: -1px;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }
}